@use "sass:map";
@import "../../../node_modules/bootstrap/scss/functions";
$primary: #0a66c2;
// $secondary-dark: #e5e5e5;
// $secondary: #737373;
// $body-bg: #f3f3f3;
// $body-bg-dark: #141414;
// $dark-bg-subtle-dark: #666666;
// $btn-border-radius: 0;
// $input-border-radius: 0;
// $input-placeholder-color: #fff;
// $active-background: $body-bg-dark;
// $link-color: #0f84fa;

$font-family-sans-serif:
	-apple-system,
	system-ui,
	BlinkMacSystemFont,
	Segoe UI,
	Roboto,
	Helvetica Neue,
	Fira Sans,
	Ubuntu,
	Oxygen,
	Oxygen Sans,
	Cantarell,
	Droid Sans,
	Apple Color Emoji,
	Segoe UI Emoji,
	Segoe UI Emoji,
	Segoe UI Symbol,
	Lucida Grande,
	Helvetica,
	Arial,
	sans-serif;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/accordion";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
@import "../../../node_modules/bootstrap/scss/carousel";
@import "../../../node_modules/bootstrap/scss/spinners";
@import "../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../node_modules/bootstrap/scss/placeholders";

@import "../../../node_modules/bootstrap/scss/helpers";

@import "../../../node_modules/bootstrap/scss/utilities/api";

// ---------------------------------------------
.customButton {
	background-color: white;
	color: grey;
}
.customButton:hover {
	background-color: rgb(214, 213, 213);
	color: grey;
}

.customButton:active {
	background-color: rgb(214, 213, 213) !important;
	color: grey !important;
}

.smallButton {
	background-color: rgb(230, 228, 228);
	border-color: white;
	color: grey;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
}

.smallButton:active {
	background-color: rgb(214, 213, 213) !important;
	color: grey !important;
}

.smallButton:hover {
	background-color: rgb(230, 228, 228);
	border-color: white;
	color: grey;
}

body {
	background-color: #f4f2ee;
}

header {
	position: sticky;
	top: 0;
	z-index: 800;
}

.navbar {
	height: 53px;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
}

.navbar-brand {
	svg {
		width: 41px;
		height: 41px;
	}
}

.nav-item {
	display: flex;
	justify-content: center; /* Centra gli elementi nella navbar */
	width: 48px;
	font-size: 12px;

	.nav-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		span {
			display: none;
		}
	}

	@media screen and (min-width: map.get($grid-breakpoints, "md")) {
		width: 80px;
		.nav-link span {
			display: inline;
		}

		&:last-of-type {
			width: 89px;
		}
	}

	&:nth-of-type(6) {
		border-right: 1px solid #525050; /* Colore grigio */
	}
}

.vertical-line {
	border-left: 1px solid #525050; /* Colore grigio */
	height: 80px; /* Altezza desiderata */
	margin: 1 8px; /* Margine desiderato */
}

.bgServiziOfferti {
	background-color: #dde7f1;
}

.bgServiziOf,
.bgServiziOfferti {
	font-size: 0.8em;
}

.fotoProfilo {
	margin-top: -112px;
	width: 152px;
	height: 152px;
	cursor: pointer;
	@media screen and (max-width: 1200px) {
		max-width: 100%;
		min-width: 50px;
		height: auto;
		margin-top: -5em;
	}
}
.fotoProfiloSide {
	position: relative;
	margin-top: -45px;
	width: 72px;
	height: 72px;
}

.littleFont {
	font-size: 12px;
}

.text-primary-linkedin-a {
	text-decoration: none;
	color: #0a66c2;
	cursor: pointer;
	// NON CAPISCO PERCHè QUESTO HOVER NON FUNZIONA
	// transition: text-decoration 0.2s ease;
	// &::hover {
	// 	text-decoration: underline !important;
	// }
}

.verificaOra {
	border: #0a66c2 solid 1px;
	color: #0a66c2;
	cursor: pointer;
	transition:
		background-color 0.5s ease,
		border 0.5s ease;
	&:hover {
		background-color: #d9edff;
		border: solid rgb(0, 89, 255) 1px;
	}
}

.logoIstruzioneAccount {
	width: 25%;
}

i {
	cursor: pointer;
	border-radius: 50%;
	transition:
		background-color 0.4s ease,
		padding 0.4s ease;
	&:hover {
		background-color: rgb(152, 152, 152) !important;
		padding: 0.5em;
	}
}

.bgLinkedin {
	background-color: #0a66c2;
	color: white;
	cursor: pointer;
	transition: background-color 0.5s ease;
	&:hover {
		background-color: #00274d;
	}
}

.altroButton {
	cursor: pointer;
	transition:
		background-color 0.5s ease,
		border 0.5s ease;
	&:hover {
		background-color: #dddddd;
		border: solid black 2px; //2px qua non funziona ..?
	}
}

@media (max-width: 767px) {
	.navbar-toggler {
		display: none; /* Nasconde il pulsante del menu hamburger */
	}

	.navbar-collapse {
		display: none; /* Nasconde il menu dropdown */
	}

	.navbar-nav {
		display: flex !important; /* Mostra tutte le icone */
		justify-content: space-evenly;
	}

	.navbar-nav .nav-item {
		flex: 1;
		text-align: center;
	}

	.vertical-line {
		display: none; /* Nasconde la linea verticale */
	}
}
.experience {
	text-align: left;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.formation {
	text-align: left;
	// border: 1px solid #000;
	// border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.competence {
	text-align: left;
	// border: 1px solid #000;
	// border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
.small-experience {
	padding: 5px; /* Riduci il padding */
	margin-bottom: 10px; /* Riduci il margine inferiore */
	margin-right: 30px; /* Aggiungi margine a destra */
	margin-left: 70px; /* Aggiungi margine a sinistra */
}

.small-experience h3 {
	font-size: 18px; /* Riduci la dimensione del font per il titolo */
}

.small-experience p {
	font-size: 12px; /* Riduci la dimensione del font per il testo */
}
/* style.scss */

.modal {
	display: none; /* Il modale è nascosto di default */
	position: fixed;

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4); /* Sfondo semi-trasparente */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #01754f;
}

input:focus + .slider {
	box-shadow: 0 0 1px #01754f;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.experience {
	text-align: left;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.formation {
	text-align: left;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.competence {
	text-align: left;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
/* Posts.css */
.custom-button {
	background-color: white; /* Sfondo bianco */
	color: black; /* Testo nero */
	margin-right: 10px; /* Margine a destra per separare i bottoni */
}
/* style.scss */

/* style.scss */
.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card {
	// width: 400px;
	// background-color: rgb(248, 243, 243);
	// border-radius: 8px;
	// box-shadow: 0 4px 8px rgba(255, 254, 254, 0.1);
	// padding: 20px;
}

.card-header {
	display: flex;
	align-items: center;
}

.profile-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.card-footer {
	margin-top: 10px;
}
/* style.scss */

.card {
	// width: 800px;
	// margin-top: 20px;
}
/* style.scss */

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.btn-no-border {
	border: none;
}
.btn-like.liked {
	color: rgb(34, 34, 158);
}
.btn-icon-extra-small svg {
	width: 24px;
	height: 24px;
}
.btn-one {
	// background-color: rgb(248, 243, 243);
	// color: #000;
}

.btn-one .icon-container {
	color: #378fe9;
}
.btn-two {
	color: #000;
}

.btn-two .icon-container {
	color: rgb(225, 158, 13);
}
.btn-three {
	color: #000;
}

.btn-three .icon-container {
	color: rgb(244, 73, 6);
}
.btn-modal svg {
	width: 20px;
}

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 50%;

	&:hover {
		background-color: #ebebeb;
	}

	&.large-icon {
		width: 48px;
		height: 48px;

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.col-with-icon {
	flex-grow: 0;
	svg {
		width: 48px;
		height: 48px;
	}
}

.fs-12px {
	font-size: 12px;
}

.fs-14px {
	font-size: 14px;
}

.text-low-enpahsis {
	color: rgb(0 0 0/0.9);
}

.sky-blue-modal-section {
	background-color: #edf3f8;
	margin-left: -20px;
	margin-right: -20px;
	padding: 20px;
}

.fixed-modal .modal-content {
	max-height: 90vh;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;

	.modal-body {
		padding-top: 0;
		overflow-x: hidden;
	}
}

.errorPage {
	height: 88.5vh;
}

.fotterErrorPage {
	bottom: 0;
	position: fixed;
	font-size: 0.7em;
	@media screen and (max-width: 1300px) {
		font-size: 0.6em;
	}
	@media screen and (max-width: 1110px) {
		font-size: 0.52em;
	}
	@media screen and (max-width: 785px) {
		font-size: 0.55em;
	}
	@media screen and (max-width: 500px) {
		font-size: 0.45em;
	}
}

.col2ShortFooter {
	width: 12%;
}
